[defaults]
inventory           = inventory/hosts.yml
roles_path          = roles
remote_user         = will
private_key_file    = ~/.ssh/id_ed25519
host_key_checking   = True
retry_files_enabled = False
stdout_callback     = default
result_format       = yaml
callbacks_enabled   = timer, profile_tasks
forks               = 5

vault_password_file  = ~/.ansible/vault_pass
deprecation_warnings = False

[privilege_escalation]
become        = True
become_method = sudo
become_user   = root

[ssh_connection]
pipelining       = True
ssh_args         = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=yes
control_path_dir = ~/.ansible/cp
