server {
    listen 443 ssl;

    server_name storage.sudoservers.com;
    access_log /config/log/nginx/storage_access.log;
    error_log /config/log/nginx/storage_error.log;

    include /config/nginx/ssl.conf;

    location / {
        proxy_pass http://nextcloud:80;
        client_max_body_size 0;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_request_buffering off;
        proxy_connect_timeout 120s;
        proxy_send_timeout 120s;
        proxy_read_timeout 120s;
    }
}
